<turbo-frame id="branch">
  <div data-controller="branch" data-branch-name-value="{{encodeURIComponent name}}">
    <turbo-frame id="branch-details">
      {{> branch-details}}
    </turbo-frame>
  </div>
</turbo-frame>