<body>
  <turbo-frame id="branches" src="/branches"></turbo-frame>
  <turbo-frame id="branch"></turbo-frame>
</body>
<script type="module">
  import * as Turbo from 'https://cdn.skypack.dev/@hotwired/turbo';
  Turbo.connectStreamSource(new EventSource("/branches/sse"));
</script>