<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Git Vis</title>
  <link rel="stylesheet" href="/css/main.css"></link>
</head>

<body>

  {{{body}}}

</body>
<script type="module" src="/js/main.js"></script>

</html>